<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Hieunv_WineProducer::wine_producer"
             translate="title" title="Wine Producer"
             module="Hieunv_WineProducer"
             sortOrder="200"
             resource="Magento_Backend::content"
             parent="Magento_Backend::content"
        />
		<add id="Hieunv_WineProducer::producer"
             translate="title"
             title="Producer"
             module="Hieunv_WineProducer"
             sortOrder="10"
             action="hieunv_wineproducer/producer/index"
             resource="Magento_Backend::content"
             parent="Hieunv_WineProducer::wine_producer"
        />

    </menu>
</config>

